<div class="loginBox">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <h2>Login Form</h2>
        <label for="name">Username</label>
        <input type="text" name="text" id="username" formControlName="username" required="required">
        <label for="password">Password</label>
        <input type="password" name="password" formControlName="password" required="required">
        <button type="submit" class="orange-btn">Submit</button>
        <button class="orange-btn" style="margin-left: 6%;" (click)="registerUser()">New User</button>
    </form>
</div>